show_frame=true
fg_set=false
bg_set=false
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%R
font0=Sans Bold 10
data1=%x
font1=
tooltip=%A %d %B %Y/%V
hib_timing=true

