---
# Eugene's overrides to mac-dev-playbook

configure_dotfiles: no
configure_sudoers: yes
configure_terminal: no
configure_osx: no

homebrew_upgrade_all_packages: yes
homebrew_cask_state: upgraded

# Homebrew
homebrew_taps:
  - homebrew/core
  - homebrew/cask
  - homebrew/php

homebrew_installed_packages:
  - coreutils
  - git
  - wget
  - { name: gnu-tar, install_options: "with-default-names" }                  # GNU tar is needed for ansible unarchive tasks
  - gradle
  - groovysdk
  - maven@3.3
  - node
  - packer
  - protobuf
  - python3
  - terraform
  - yarn

homebrew_linked_packages:
  - python3

homebrew_cask_apps:
  - adobe-acrobat-reader
  - docker
  - { name: "dropbox", state: "present" }
  - evernote
  - firefox
  - google-chrome
  - intellij-idea
  - iterm2
  - java
  - java8
  - jollysfastvnc
  - launchbar
  - minikube
  - parallels-desktop
  - slack
  - { name: "spotify", state: "present" }
  - vagrant
  - virtualbox

python_virtual_env: "/Users/ekrylov/python_env"

pip_packages:
  - name: ansible
    state: latest
  - name: pip
    state: latest
  - name: requests
    state: latest
  - name: setuptools
    state: latest
  - name: wheel
    state: latest