.p4ignore
target/**
*~
*.iml
qa-st/xml/**
logs/**
core-st/xml/**
.idea/**
core-cvclist/xml/**
core-cvclist/NotificationGenericEventHandlers.xml
core-st/NotificationGenericEventHandlers.xml
core-st/runtime.properties
derby.log
qa-st/runtime.properties
qa-st/NotificationGenericEventHandlers.xml
.idea

