<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http:/maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
      <!--This sends everything else to /public 
-->
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus:8081/content/groups/public</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://nexus:8081/content/repositories/central/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>thirdparty</id>
          <url>http://nexus:8081/content/repositories/thirdparty/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://nexus:8081/content/repositories/central/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
      <properties>
        <MELISSA_ADDRDATA>/opt/melissadata/address</MELISSA_ADDRDATA>
        <MELISSA_GEODATA>/opt/melissadata/geocoder</MELISSA_GEODATA>
                
                <sonar.host.url>http://sonar:9000</sonar.host.url>
                <sonar.login>ea21dcc44395507a21879d9bfc8d4749563cc084</sonar.login>               
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>

  <pluginGroups>
    <pluginGroup>com.healthedge.maven.plugins</pluginGroup>
    <pluginGroup>com.oracle.weblogic</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>thirdparty</id>
      <username>releng</username>
      <password>{{ releng_password }}</password>
    </server>

    <server>
      <id>nexus</id>
      <username>releng</username>
      <password>{{ releng_password }}</password>
<!--
      <username>ekrylov</username>
      <password>{u'pYV1kCjFGrEH8llf0Xpkbh4jkLRoL+WUwtVbcjDZ0nc=': None}</password>
-->
      <!-- SEE: http://intranet/Product_Development/How_To.../Development_machine_setup/maven/Maven_Installation/Setting_Nexus_Credentials -->
    </server>

    <server>
      <id>he1-nexus-pr01.headquarters.healthedge.com:9083</id>
      <username>he-docker-admin</username>
      <password>{{ he_docker_admin_password }}</password>
    </server>
  </servers>
</settings>
