[global_config]
  borderless = True
  suppress_multiple_term_dialog = True
  tab_position = bottom
  title_font = DroidSansMono Nerd Font 7
  title_hide_sizetext = True
  title_transmit_bg_color = "#677272"
  title_use_system_font = False
  window_state = maximise
[keybindings]
  hide_window = F12
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 3a9e6f84-af56-4dd9-a076-ae3d18d8b4d9
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:31
      size = 1920, 1000
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 955
      ratio = 0.499739583333
      type = HPaned
    [[[child3]]]
      order = 1
      parent = child1
      position = 495
      ratio = 0.4995
      type = VPaned
    [[[terminal2]]]
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = 3a9e6f84-af56-4dd9-a076-ae3d18d8b4d9
    [[[terminal4]]]
      order = 0
      parent = child3
      profile = default
      type = Terminal
      uuid = 90e2f81c-bc88-4db0-a414-b9789d62fcd4
    [[[terminal5]]]
      order = 1
      parent = child3
      profile = default
      type = Terminal
      uuid = b83cabd8-b661-4718-bbd4-c4aaec9856a1
[plugins]
[profiles]
  [[default]]
    background_color = "#ffffff"
    background_image = None
    font = DroidSansMono Nerd Font 9
    foreground_color = "#000000"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scroll_on_output = False
    scrollback_lines = 10000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
